
@charset "utf-8";
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;  
}
$PinkHeader:hsl(322, 100%, 66%);
$PinkDarkHeader:hsla(322,100%,58%,1.00);
$PaleCyanHeader:hsl(193, 100%, 96%);
$DarkCyanHeader:hsl(192, 100%, 9%);
$GrayishBlueHeader:hsl(208, 11%, 55%);
$BoxShadowHeader: 0 8px 16px 0 rgba(41,109,140,0.20);
$BoxShadowHeaderActive:0 9px rgba(21,21,21,0.17);
$WhiteHeader:white;

@mixin btn_header {

        border: none;
        border-radius: 25px;
        box-shadow: $BoxShadowHeader;
        font-size: 0.8rem;
        font-weight: 600;
        cursor: pointer;
}

header{
    background-image:url("../images/bg-hero-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:$PaleCyanHeader;
    height: 700px;
    width: 1440px;
    margin: auto;
    .div_header1{
        padding: 55px 70px;
        .btn_header1{  
            @include btn_header; 
            background-color:$WhiteHeader;
	        color:$DarkCyanHeader ;
            margin-left: 875px;
            padding: 10px 55px;
        }
        .btn_header1:active {
            background-color:$WhiteHeader;
            box-shadow: $BoxShadowHeaderActive;
            transform: translateY(4px);
          }
    }
    .flexContainer_header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
        align-items: stretch;
        height: 546px;

        .flex_item_header1{
            flex-grow: 1;
            margin-top: 100px;
            margin-left: 68px;
            width: 360px;
            h1{
                font-size: 41px;
            }
            p{
                color: $DarkCyanHeader;
            }
            .btn_header2{
                background-color: $PinkHeader;
                color: $PaleCyanHeader;
                padding: 15px 55px;
                @include btn_header;
            }
            .btn_header2:active{
                background-color:$PinkDarkHeader;
                box-shadow:$BoxShadowHeaderActive;
                transform: translateY(4px);
            }
        }
        .flex_item_header2{
            flex-grow: 3;
            background-image: url("../images/illustration-mockups.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            margin-right: 79px;      
    }
}
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;


}

.footer_box {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    background-color: hsl(192, 100%, 9%);
    height: 500px;

}


.footer_card {
    border: 1px solid black;
    color: white;

}

.footre_head {
    margin-top: 40px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.068);
    width: 590px;
    height: 150px;
    margin-left: 470px;
    border-radius: 8px;
    box-shadow: 1px 3px 10px #888888;


    h3 {
        margin-top: 50px;
    }
}

.footer_card1 {
    line-height: 30px;

    .footer_parg1 {
        margin-top: 100px;
        font-size: 16px;

    }

    .footer_parg2 {
        margin-top: 30px;
    }

    .footer_parg3 {
        margin-top: 30px;
    }
}

.footer_card2 {
    line-height: 40px;

    .footer_parg4 {
        margin-top: 160px;

    }

}

.footer_card3 {
    line-height: 40px;

    .footer_parg5 {
        margin-top: 160px;
    }
}

.footer_card4 {
    img {
        margin-top: 170px;
    }

    p {
        margin-top: 210px;
    }
}

